html{
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%;
}

body{
    margin: 0;
    padding:0;
    width: 100%;
}
.imageClass{
    height: 50px;
    vertical-align: middle;
}

/*导航栏样式*/
.navContainer{
    box-shadow: 0 2px 5px #ccc;
}

.headerContainer{
    width: 980px;
    margin: auto;
}

.navClass{
    display: inline-block;
}

.navClass ul{
    padding: 0;
    margin: 0;
}

.navClass li{
    list-style: none;
    display: inline-block;
    padding: 0 5px;
    margin: 0 5px;
}

.navClass a{
    text-decoration: none;
}
/*内容的样式*/
.contentContainer{
    background-image: url("../image/shadow_light.png");
    background-repeat: repeat;
    width: 1000px;
    margin: auto;
}
.content{
    width: 980px;
    margin: auto;
    height: 200px;
    background-color: red;
}



