html,body{
    margin: 0;
    padding:0;
}

.imgContainer{
    background-image: url("../image/proBar.jpeg");
    background-repeat: no-repeat;
    background-size: 200px 100px;
    color: red;
    height: 100px;
    width: 100%;
/*    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;*/
}

/*导航栏样式*/
.navContainer{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
}

.nav{
    margin:auto;
    width: 980px;
    position: relative;
    height: 100%;
}

.nav a{
    text-decoration: none;
    display: inline-block;
    padding-top: 8px;
    margin: 0 8px;
    color: black;
}
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: #343d46;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/*内容的样式*/
.content{
    width: 980px;
    margin: auto;
    height: 200px;
    background-color: red;
}
